<div class="form-inputs">
  <%= f.input :name %>
  <br />

  <%= f.input :year %>
  <br />

  <%= f.input :start, :label => "Semester Start date" %>
  <br />

  <%= f.input :end, :label => "Semester End date" %>
  <br />

  <%= f.input :non_teaching_week %>
  <br />

  <%= f.input :mid_semester_break %>
</div>