<%= content_for(:breadcrumbs) do -%>
	<li><span class="divider">/</span><%= link_to "Semesters", semesters_path %></li>
    <li><span class="divider">/</span>New Course</li>
<% end -%>

<div class="page-header">
	<h1>New Semester</h1>
</div>

<%= simple_form_for @semester do |f| %>

	<% if f.object.errors.any? -%>
	  <div class="alert alert-error">
	    <a class="close" data-dismiss="alert" href="#"></a>
	    <h4 class="alert-heading">Please fix the following errors and submit again!</h4>
	    <a class="close" data-dismiss="alert" href="#">x</a>
	    <br />
	    <% f.object.errors.each do |name, msg| %>
			<p><%= name %> => <%= msg %></p>
		<% end %>
	  </div>
	<% end %>

	<%= render :partial => 'semesters/form', :locals => { :f => f } %>
	<br />
	<div class="form-actions" style="text-align: center;">
		<%= f.submit "Create Semester", :class => 'btn btn-primary' %>
	    <%= link_to "Cancel", semesters_path, :class => 'btn' %>
	</div>

<% end %>
