<tr >
	<td><%= criterion.criteria %></td>
	<td><%= criterion.fail %></td>
	<td><%= criterion.pass %></td>
	<td><%= criterion.credit %></td>
	<td><%= criterion.distinction %></td>
	<td><%= criterion.high_distinction %></td>
</tr>