<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear <strong><%= @user.fullname %></strong>,<br/>
    </p>

    <p>
      <strong><%= @course.convenor.user.fullname%></strong> has submitted the course outline for <strong><%= @course.code%>(<%= @course.name %>)</strong> for your approval in the Art & Design Course Outline System. Please follow this link <strong><%= course_url(@course, :host => Rails.application.config.action_mailer.default_url_options[:host]) %></strong> to review the outline, and press the ‘Approve' button if you are happy to commit this outline into the official system to be distributed to students.      
    </p>
    
    <p>
      <i><strong>Please note:</strong> A course outline <u>must</u> be approved by you before it can be issued to students or used within the UNSW handbook.</i>
    </p>
    <p>Thank you.</p><br />
    <p>
      <strong>UNSW | Art & Design</strong></br>
      UNSW AUSTRALIA
    </p>
    <p>
      Paddington Campus</br>
      Cnr Oxford St & Greens Rd,</br>
      Paddington, NSW 2021
    </p>
  </body>
</html>