<header class="page-header">
	<h1><%= @program.number.to_s %> - <%= @program.description.upcase %></h1>
	<p class="lead">You are Editing <%= @program.number.to_s %> - <%= @program.description.upcase %></p><br />
</header>

<%= simple_form_for(@program) do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<div class="form-actions" style="text-alighn: center;">
		<%= f.submit :class => "btn btn-primary" %>
		<%= link_to "Cancel", programs_path, :class => "btn" %>
	</div>
<% end %>