<%= content_for(:breadcrumbs) do -%>
    <li><span class="divider">/</span><%= link_to "Programs", programs_path %></li>
<% end -%>

<div class="page-header">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <%= link_to icon('folder-open', 'New Program'), new_program_path, :class => 'btn' %>
        </div>
    </div>
    <h1>Programs</h1>
</div>


<%= render :partial => "search" %>

<% if @programs.present? %>
  <table class="table table-striped">
    <tr>
      <th>Number</th>
      <th>Description</th>
      <th>Program Director</th>
      <th>Program Active?</th>
      <th>Action</th>
    </tr>

  <% @programs.each do |program| %>
    <tr>
      <% puts "Program ID => #{program.id}"  %>
      <td><%= program.number %></td>
      <td><%= program.description %></td>
      <td><%= program.director.present? ? program.director.user.fullname : '<i>undefined</i>'.html_safe %></td>
      <td><%= program.active ? 'active' : 'inactive' %></td>
      <td>
        <%= link_to 'View', program_path(program), :class => 'btn btn-mini btn-primary' %>
          <%= link_to 'Edit', edit_program_path(program), :class => 'btn btn-mini btn-success' %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>No programs in this listing.</p>
<% end %>

<%= will_paginate(@programs) %>
