<% if @course.assessment_tasks.present? %>
	<% @course.assessment_tasks.each_with_index do |assessment, index| %>
		<h3>Assessment Task <%= (index + 1).to_s %></h3>
		<div class="view-items">
			<b>Title: </b>
			<%= assessment.title.present? ? assessment.title : ''.html_safe %>		
		</div>

		<div class="view-items">
			<b>Weighting: </b>
			<%= assessment.weighting.present? ? (assessment.weighting.to_s + " %") : ''.html_safe %>
		</div>

		<div class="view-items">		
			<b>Tasks: </b>
		</div>
		<% if assessment.assessment_dates.present? %>
			
				<% assessment.assessment_dates.each do |due_date| %>
					<div class="view-items">
						<div class="line-items">
							<b>Description: </b>
							<%= due_date.description.present? ? due_date.description : ''.html_safe %>
						</div>
						<div class="line-items">
							<b>Due: </b>
						    <%= due_date.due.present? ? week_number(@course, due_date.due) : ''.html_safe %>
						</div>
					</div>
				<% end %>
			 			
		<% else %>
			
		<% end %>
		 
		<h4>Assessment Synopsis</h4>
		<p><%= assessment.synopsis.present? ? assessment.synopsis.html_safe : ''.html_safe %></p>

		<% if assessment.criteria.present? %>
			<h4><i>Assessment Criteria With Marking Rubric</i></h4>
			<table class="table table-bordered">
			    <thead>
			      <tr>
			        <th>Criteria</th>
			        <th>FAIL</th>
			        <th>PASS</th>
			        <th>CREDIT</th>
			        <th>DISTINCTION</th>
			        <th>HIGH DISTINCTION</th>
			      </tr>
			    </thead>

			    <tbody> 
			      <%= render :partial => "criteria/row", :collection => assessment.criteria, :as => :criterion %>
			    </tbody>
			</table>
		<% end %>
		
		<p><strong>FOR GUIDE TO UNSW GRADES SEE:</strong>&nbsp;<a href="https://student.unsw.edu.au/grades" target="blank">https://student.unsw.edu.au/grades</a></p>
		
		<h4>Course Learning Outcomes addressed in this task:</h4>
		<% if assessment.task_outcomes.present? %>
			<ol>
				<% assessment.task_outcomes.each do |outcome| %>
					<div class="line-items">
						<li><%= outcome.name.present? ? outcome.name.html_safe : ''.html_safe %></li>
					</div>
				<% end %>
			</ol>
		<% else %>
			<dt>&nbsp;</dt>
			<dd>&nbsp;</dd>
		<% end %>

		<% if assessment.graduate_attributes.present? %>
			<h4>UNSW Graduate Attributes addressed in this task:</h4>
			<ol>
				<% assessment.graduate_attributes.each do |attribute| %>
					<div class="line-items">
						<li><%= attribute.name %></li>
					</div>
				<% end %>
			</ol>
		<% end %>

		<% if assessment.assessment_task_resources.present? %>
			<h4>Resources required for this task:</h4>
			<% assessment.assessment_task_resources.each do |resource| %>
				<div class="view-items">
					<div class="line-items">
						<b>Resource: </b>
						<%= resource.resource.present? ? resource.resource.html_safe : ''.html_safe %>
					</div>
					<div class="line-items">
						<b>Technical Staff: </b>
					<%= resource.technical_staff.present? ? resource.technical_staff.member_name : ''.html_safe %>
					</div>					
				</div>
			<% end %>
		<% end %>

		<% if assessment.assessment_task_proficiencies.present? %>
			<h4>Proficiencies required for this task:</h4>
			<ul>
				<% assessment.assessment_task_proficiencies.each do |proficiency| %>
					<div class="line-items">
						<li><%= proficiency.proficiency.present? ? proficiency.proficiency.html_safe : ''.html_safe %></li>
					</div>
				<% end %>
			</ul>
		<% end %>
		
		
		<h4>Feedback strategy for this task:</h4>
		<p><%= assessment.feedback.present? ? assessment.feedback.html_safe : ''.html_safe %></p>
		<% end %>
	
<% else %>
	&nbsp;
<% end %>
