<table class="table table-bordered">
  <thead>
    <tr>
      <th style="text-align: center;">Week</th>
      <th style="text-align: center;">Week starting</th>
      <th style="text-align: center;">Topic</th>
      <th style="text-align: center;">Assessable Tasks</th>
      <th style="text-align: center;">Non-assessable Tasks</th>
    </tr>
  </thead>
  <tbody>
    <%= f.simple_fields_for :topics do |topic| %>
      <tr>
        <td><%= topic.input :week, :label => false, :disabled => true %></td>
        <td><%= topic.input :date, :as => :hidden %><%= topic.object.date.to_s("%d %B") %></td>
        <td><%= topic.input :topic_name, :label => false, :disabled => (topic.object.topic_name == "Mid-Semester Break" || !current_user.convenor_or_director_or_superadmin?(f.object)) %></td>
        <td>                  
          <% f.object.assessment_tasks.each do |task| %>
            <% count = 0 %>
            <% task.assessment_dates.each do |date| %>            
              <% if date.due == topic.object.date %>
                <% if count == 0 %>
                  <% count = 1 %>
                  <%= task.title.present? ? (task.title + ":") : "" %>
                <% end %>
                <%= date.description.present? ? (date.description + ".") : "" %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td><%= topic.input :tasks_due, :label => false, :disabled => (topic.object.topic_name == "Mid-Semester Break" || !current_user.convenor_or_director_or_superadmin?(f.object)) %></td>   
      </tr>
    <% end %>
  </tbody>
</table>