<p class="help-block"><small><i><u>NOTES ABOUT ASSESSMENT: </i></u>Limit course assessment to no more than THREE tasks - one or two of which may include the stages of a bigger task. Remember that not every task needs to be formally assessed for marks and students can be asked to provide a draft, for example, without it needing to have marks attached. Please include assessment details in the Course Outline so that all students know from the outset what is expected to pass the course.</small></p>
<% assessment_add_button_id = !current_user.convenor_or_director?(f.object) ? "assessmentAddButton" : "" %>
<div id="assessments_div">
  <%= f.simple_fields_for :assessment_tasks do |assess| %>
    <div class="pull-right">
        <%= assess.link_to_remove icon("trash"), :class => "btn btn-mini", :id => "#{assessment_add_button_id}" %>
      </div>

    <br />
    <h3>Assessment Task</h3><br />

      <div class="control-group <%= 'error' if assess.object.errors[:title].any? %>">
        <label class="control-label required">Title</label>
        <div class="controls">
          <%= assess.input :title, :label => false, :disabled => !current_user.convenor_or_director?(f.object) %>
        </div>
      </div>

      <!-- <div class="control-group">
        <label class="control-label required">Order</label>
        <div class="controls">
          <%#= assess.input :order_number, :label => false, :input_html => { :class => "span1"}, :disabled => !current_user.convenor_or_director?(f.object) %>
        </div>
      </div> -->

      <div class="control-group <%= 'error' if assess.object.errors[:weighting].any? %>">
        <label class="control-label required">Weighting (%)</label>
        <div class="controls">
          <%= assess.input :weighting, :label => false, :input_html => { :class => "span1"}, :disabled => !current_user.convenor_or_director?(f.object) %>
          <p class="help-block"><small>No task should be more than 65%, with most tasks it is desirable to limit the size (and risk) to 50% weighting. Wigthing should reflect the complexity of the task. A larger weighting might mean more criteria being assessed, while a smaller wighting should have less criteria (see bellow).</small></p>
        </div>
      </div>

      <hr>
      <h4>Due dates for this task:</h4><br />
      <% assessment_dates_add_button_id = !current_user.convenor_or_director?(f.object) ? "assessmentDatesAddButton" : "" %>
      <div id="assessment_dates_<%= assess.object_id %>">
        <%= assess.simple_fields_for :assessment_dates do |due_dates| %>

          <div class="pull-right">
            <%= due_dates.link_to_remove icon("trash"), :class => "btn btn-mini", :id => "#{assessment_dates_add_button_id}" %>
          </div>

          <div class="control-group <%= 'error' if due_dates.object.errors[:due].any? %>">
            <label class="control-label">Due</label>
            <div class="controls">
               <%= due_dates.input :due, :label => false, :collection => weeks_list(f.object), :input_html => { :class => 'span2'}, :disabled => !current_user.convenor_or_director?(f.object) %>
            </div>
          </div>

          <div class="control-group <%= 'error' if due_dates.object.errors[:description].any? %>">
            <label class="control-label">Description</label>
            <div class="controls">
               <%= due_dates.input :description, :label => false, :input_html => { :class => 'span5' }, :disabled => !current_user.convenor_or_director?(f.object) %>
            </div>
          </div>

          <!-- <div class="control-group">
            <label class="control-label">Order</label>
            <div class="controls">
               <%#= due_dates.input :order_number, :label => false, :input_html => { :class => 'span1'}, :disabled => !current_user.convenor_or_director?(f.object) %>
            </div>
          </div> -->

        <% end %>
        <%= assess.link_to_add "Add a due date", :assessment_dates, :class => "btn btn-primary btn-add-assessment-associates", :id => "#{assessment_dates_add_button_id}" %>
        <div>                  
          <p style="text-align: center;">You may add due dates for this task here</p>          
        </div>
      </div>

      <!-- <div class="control-group <%#= 'error' if assess.object.errors[:due].any? %>">
        <label class="control-label required">Due</label>
        <div class="controls">
          <%#= assess.input :due, :label => false, :collection => weeks_list(f.object), :disabled => !current_user.convenor?(f.object) %>
        </div>
      </div> -->      

      <hr>
      <div class="control-group <%= 'error' if assess.object.errors[:synopsis].any? %>">
        <label class="control-label required">Assessment Synopsis (full brief available in course)</label>
        <div class="controls">
          <%= assess.input :synopsis, :label => false, :input_html => { :rows => 10, :class => 'span11 tinymce' }, :disabled => !current_user.convenor_or_director?(f.object) %>
          <p class="help-block"><small>This can be a <u>summary</u> of the project brief that outlines teh aims of the task, what you want students to do and where they need to submit). Keep this short and to the point. Usually one paragraph.</small></p>
        </div>
      </div>

      <br />
      <h4>Assessment Criteria With Marking Rubric:</h4><br />
      <div class="headings">
            
              <div class="input string optional criteria_criteria">
                <label class="require">Criteria</label>
              </div>
              <div class="input string optional criteria_fail">
                FAIL <p><small>Unsatisfactory performance, below minimum expected level. Poor or incomplete work, which shows a significant lack of understanding of the topic or its context.</small></p>
              </div>
              <div class="input string optional criteria_pass">
                PASS <p><small>Satisfactory performance. Addresses assessment requirements and demonstrates acceptable understanding of the issues entailed.</small></p>
              </div>
              <div class="input string optional criteria_credit">
                CREDIT <p><small>Good performance. Demonstrates analysis and contextual thinking. Understands/presents alternative points of view/perspectives and supporting evidence.</small></p>
              </div>
              <div class="input string optional criteria_distinction">
                DISTINCTION <p><small>Very Good performance. Demonstrates superior ability to consider the course and its assessment requirements from a number of perspectives and to explore their interrelation</small></p>
              </div>
              <div class="input string optional criteria_high_distinction">
                HIGH DISTINCTION <p><small>Outstanding performance. Indicates the student has produced excellent work, and demonstrates a high level of understanding, application and synthesis of the assessable criteria.</small></p>
              </div>
              <div class="input delete-btn"></div>
      </div>                 
      
      <% criteria_add_button_id = !current_user.convenor_or_director?(f.object) ? "criteriaAddButton" : "" %>
      <div id="criteria_<%= assess.object_id %>" class="criteria">
        <%= assess.simple_fields_for :criteria, :html => { :class => 'form-horizontal' } do |criterion| %>
          <div id="criterion_<%= assess.object.id %>">
            <div><%= criterion.input :criteria, :label => false, :disabled => !current_user.convenor_or_director?(f.object) %></div>
            <div><%= criterion.input :fail, :label => false, :disabled => !current_user.convenor_or_director?(f.object) %></div>
            <div><%= criterion.input :pass, :label => false, :disabled => !current_user.convenor_or_director?(f.object) %></div>
            <div><%= criterion.input :credit, :label => false, :disabled => !current_user.convenor_or_director?(f.object) %></div>
            <div><%= criterion.input :distinction, :label => false, :disabled => !current_user.convenor_or_director?(f.object) %></div>
            <div><%= criterion.input :high_distinction, :label => false, :disabled => !current_user.convenor_or_director?(f.object) %></div>
            <!-- <div><%#= criterion.input :order_number, :as => :hidden, :input_html => { :class => 'order_number_input' }, :disabled => !current_user.convenor_or_director?(f.object) %></div> -->
            <div class="input delete-btn"><%= criterion.link_to_remove icon('trash'), :class => "btn", :id => "#{criteria_add_button_id}" %></div>
          </div>
        <% end %>
        <%= assess.link_to_add "Add criteria", :criteria, :class => "btn btn-primary btn-add-assessment-associates", :id => "#{criteria_add_button_id}" %>
        <div colspan="7" class="empty" style="text-align: center;">
          <p>You must add criteria here</p>
        </div>                
      </div>
        
      <p class="help-block"><small><strong>NOTE - </strong>Stduents MUST be issued a copy of a filled in rubric along with written or recorded feedback for EACH assessment. You should list what you will be actually assessing in tehe Criteria column (eg. 1. Solution addresses all of the requirements of the brief, 2. Evidence of experimentation in the development of a final solution.</small></p><br />
      <p><a class="btn btn-info btn-mini" data-toggle="modal" href="#criteria_help"><%= icon('info-sign','') %> Help for completing this section</a></p><br />

      <h4>Course Learning Outcomes addressed in this task:</h4>
      <% task_outcomes_add_button_id = !current_user.convenor_or_director?(f.object) ? "taskOutcomeAddButton" : "" %>
      <div id="task_outcomes_<%= assess.object_id %>">
        <%= assess.simple_fields_for :task_outcomes do |outcome| %>

          <div class="pull-right">
            <%= outcome.link_to_remove icon("trash"), :class => "btn btn-mini", :id => "#{task_outcomes_add_button_id}" %>
          </div>
          
          <div class="control-group <%= 'error' if f.object.errors[:course_learning_outcome_id].any? %>">
            <label class="control-label">Outcome</label>
            <div class="controls">
              <%= outcome.input :course_learning_outcome_id, :label => false, :collection => @course.course_learning_outcomes, :disabled => !current_user.convenor_or_director?(f.object) %>
            </div>
          </div>

          <!-- <div class="control-group">
            <label class="control-label">Order</label>
            <div class="controls">
              <%#= outcome.input :order_number, :label => false, :input_html => { :class => "span1"}, :disabled => !current_user.convenor_or_director?(f.object) %>
            </div>
          </div> -->

        <% end %>
        <%= assess.link_to_add "Select a learning outcome", :task_outcomes, :class => "btn btn-primary btn-add-assessment-associates", :id => "#{task_outcomes_add_button_id}" %>
        <div class="empty" style="text-align: center;">                  
          <p>You must add learning outcomes here</p>          
        </div>
      </div>

      <% if @course.course_learning_outcomes.blank? %>
      <script>
        $(document).ready(function() {
          $('#add_learning_outcome_btn').click(function() {
            alert('Course learning outcomes is empty')
            return false;
          });
        });
      </script>
      <% end %>

      <p class="help-block"><small>All assessments within the course must be aligned to the stated learning outcomes of the course. You do not however have to link all of your learning outcomes to each assessment – use only those that the assessment is testing or building capacity within. Betweek all of your assessments however, all course learning outcoes must be represented.</small></p>

      <h4>UNSW Graduate Attribtes addressed in this task:</h4>
      <%= assess.association :graduate_attributes, :as => :check_boxes, :label => false, :collection => GraduateAttribute.all %>
      <p class="help-block" align="justify"><small>Your assessment criteria should each directly relate to a UNSW Graduate Attribute <a href="https://my.unsw.edu.au/student/atoz/GraduateAttributes.html" target="_blank">https://my.unsw.edu.au/student/atoz/GraduateAttributes.html</a>. This ensures that you and your students can understand how one assessment contributes to the larger picture of the overall assessment in your course. In addition, it allows course convenors and program directors to ensure that all attributes are being addressed across the courses within a program.</small></p>
      <p class="help-block" align="justify"><small><strong>REVIEW GRADING SOFTWARE TO SIMPLIFY ASSESSMENT –</strong> Once you have aligned your criteria to UNSW Graduate Attributes, you can VERY QUICKLY quickly set up your assessment marking in the grading software ‘Review’. This enables you to manage your marking quickly and easily online, greatly reducing the marking workload. To get your course set up in Review please speak to our educational developer Paul Rogers <a href="mailto:paul.rogers@unsw.edu.au">paul.rogers@unsw.edu.au</a>. We will also run workshops before semester for helping people get set up in Review. Watch demonstration videos of how Review works here <a href="http://bit.ly/1pISeJ0" target="_blank">http://bit.ly/1pISeJ0</a></small></p><br />
        
      <p><a class="btn btn-info btn-mini" data-toggle="modal" href="#graduate_attributes_help"><%= icon('info-sign','') %> Help for completing this section</a></p><br />

      <h4>Resources required for this task:</h4><br />
      <% task_resources_add_button_id = !current_user.convenor_or_director?(f.object) ? "taskResourcesAddButton" : "" %>
      <div id="task_resources_<%= assess.object_id %>">
        <%= assess.simple_fields_for :assessment_task_resources do |resource| %>

          <div class="pull-right">
            <%= resource.link_to_remove icon("trash"), :class => "btn btn-mini", :id => "#{task_resources_add_button_id}" %>
          </div>
          
          <div class="control-group <%= 'error' if f.object.errors[:resource].any? %>">
            <label class="control-label required">Resource</label>
            <div class="controls">
              <%= resource.input :resource, :label => false, :input_html => { :class => "span11"}, :disabled => !current_user.convenor_or_director?(f.object) %>
            </div>
          </div>
    
          <% resource.object.build_technical_staff unless resource.object.technical_staff %>
          <%= resource.simple_fields_for :technical_staff do |staff| %>

            <%= staff.input :role, :as => :hidden, :input_html => { :value => "TECHNICAL STAFF" } %>

            <div class="control-group <%= 'error' if resource.object.errors[:technical_staff].any? %>">
              <label class="control-label required">Technical Staff</label>
              <div class="controls">
                <%= staff.input :member_name, :label => false, :collection => User.all.reject{|u| u.role != "TECHNICAL STAFF"}.map { |s| s.zid_with_fullname },:placeholder => "Type name, zid", :input_html => {:"data-update-elements" => "[]", :class => 'span3'}, :disabled => !current_user.convenor_or_director?(f.object) %>
              </div>
            </div>

          <% end %>

          <!-- <div class="control-group">
            <label class="control-label required">Order</label>
            <div class="controls">
              <%#= resource.input :order_number, :label => false, :input_html => { :class => "span1"}, :disabled => !current_user.convenor_or_director?(f.object) %>
            </div>
          </div> -->

        <% end %>
        <%= assess.link_to_add "Add a required resource", :assessment_task_resources, :class => "btn btn-primary btn-add-assessment-associates", :id => "#{task_resources_add_button_id}" %>
        <div style="text-align: center;">                  
          <p style="text-align: center;">You may add resources for this task here</p>
        </div>
      </div>

      <p class="help-block"><small>Please list the type of equipment or software etc students will need to complete the assessment IF RELEVANT (eg. Cameras, certain types of software etc). This data will help us plan the support of resource better, and improve service to the students. If no equipment is required please leave blank. NOTE however that courses must list required equipment or they may not be guaranteed an equipment allocation during semester.</small></p>
      <p class="help-block"><small><strong>Ensure that the equipment required aligns with the learning outcomes and is not too specific when it does not have to be</strong>For example do first year students really require expensive specialized equipment? What is the minimum standard required to achieve the learning outcome? Choosing appropriate equipment will significantly reduce the burden on the workshop, resource center and CSU and ensure more students can obtain the equipment they need.</small></p>

      <p class="help-block"><small><strong>Where possible, think about using open source software rather than a specific type</strong>For example, if an assessable criteria is about successful image manipulation, does it matter if students use Photoshop or can they use free software like GIMP? Are you assessing their proficiency with one piece of software, or their image manipulation skills?</small></p>

      <hr>
      <h4>Proficiencies required for this task:</h4><br />
      <% task_proficiency_add_button_id = !current_user.convenor_or_director?(f.object) ? "taskProficiencyAddButton" : "" %>
      <div id="task_proficiencies_<%= assess.object_id %>">
        <%= assess.simple_fields_for :assessment_task_proficiencies do |proficiency| %>

          <div class="pull-right">
            <%= proficiency.link_to_remove icon("trash"), :class => "btn btn-mini", :id => "#{task_proficiency_add_button_id}" %>
          </div>

          <div class="control-group">
            <label class="control-label">Proficiency</label>
            <div class="controls">
              <%= proficiency.input :proficiency, :label => false, :input_html => { :class => 'span11' }, :disabled => !current_user.convenor_or_director?(f.object) %>
            </div>
          </div>

          <!-- <div class="control-group">
            <label class="control-label">Order</label>
            <div class="controls">
              <%#= proficiency.input :order_number, :label => false, :input_html => { :class => 'span1' }, :disabled => !current_user.convenor_or_director?(f.object) %>
            </div>
          </div> -->

        <% end %>
        <%= assess.link_to_add "Add a required proficiency", :assessment_task_proficiencies, :class => "btn btn-primary btn-add-assessment-associates", :id => "#{task_proficiency_add_button_id}" %>
        <div>                  
          <p style="text-align: center;">You may add proficiencies for this task here</p>          
        </div>
      </div>

      <p class="help-block"><small>Please list any proficiencies students need to obtain to complete the assessment. Do they need to be trained in using equipment (bandsaw for example) or performing certain tasks (developing film in a darkroom)? Listing these here will help us plan how to support workshops for students and staff better. Please relate proficiencies to the resources above. NOTE this may not be in the final course outline but will be used to gather requirements for planning purposes, and for helping to developed flipped learning support for students.</small></p>

      <hr>
      <div class="control-group <%= 'error' if f.object.errors[:feedback].any? %>">
        <label class="control-label required">Feedback</label>
        <div class="controls">
          <% tinymceStr = current_user.convenor_or_director?(f.object) ? 'tinymce' : '' %>
          <%= assess.input :feedback, :label => false, :input_html => { :rows => 10, :class => "span11 #{tinymceStr}" }, :disabled => !current_user.convenor_or_director?(f.object) %>                    
        </div>
      </div>
      <p class="help-block"><small>You must provide feedback for every assessment, and you should provide students with information here on how they will get feedback on this task. Provide here information on whether feedback will be written or spoken, and when it will be given. NOTE – Feedback should be delivered in a timely manner (no more than two weeks from the date of submission), be succinct and clear, and also personalised for each student.</small></p><br />
      <p><a class="btn btn-info btn-mini" data-toggle="modal" href="#feedback_help"><%= icon('info-sign','') %> Help for completing this section</a></p><br />    
    <hr>
  <% end %>
</div>

<div style="text-align: center;">
  <br />
  <p style="text-align: center;">You may add assessments here</p>
  <%= f.link_to_add "Add assessment", :assessment_tasks, :data => { :target => "#assessments_div"}, :class => "btn btn-primary", :id => "#{assessment_add_button_id}" %>
</div>

<% content_for :modals do %>
  
  <div class="modal fade hide" id="criteria_help">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Help for completing this section:</h3>
    </div>      
    <div class="modal-body">
      <p align="justify">Help with creating rubrics:</p>
      <p>
      &nbsp;&nbsp;&nbsp;&nbsp;<strong>An example of a generic learning rubric</strong><br />
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://teaching.unsw.edu.au/sites/default/files/upload-files/GenericAssessmentRubric.pdf" target="_blank">http://teaching.unsw.edu.au/sites/default/files/upload-files/GenericAssessmentRubric.pdf</a><br /><br />
      &nbsp;&nbsp;&nbsp;&nbsp;<strong>More information on assessment rubrics</strong><br />
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://teaching.unsw.edu.au/assessment-rubrics" target="_blank">http://teaching.unsw.edu.au/assessment-rubrics</a>
      </p>
    </div>
    <div class="modal-footer" style="text-align: center;">      
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>

  <div class="modal fade hide" id="graduate_attributes_help">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Help for completing this section:</h3>
    </div>      
    <div class="modal-body">
      <p><strong>For help understanding how to align your assessable criteria with UNSW Graduate Attributes</strong> please download the guide called Example of how to relate assessable criteria to UNSW Graduate Attributes from the Review help website <a href="http://cofalearning.unsw.wikispaces.net/Home#Review" target="_blank">cofalearning.unsw.wikispaces.net/Home#Review</a>. For additional support please contact Simon McIntyre <a href="mailto:s.mcintyre@unsw.edu.au">s.mcintyre@unsw.edu.au</a>.</p><br />
    </div>
    <div class="modal-footer" style="text-align: center;">      
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>

  <div class="modal fade hide" id="feedback_help">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Help for completing this section:</h3>
    </div>      
    <div class="modal-body">
      <p align="justify">For more information about giving feedback to students, please visit the UNSW Teaching Gateway.</p>
      <p>
      &nbsp;&nbsp;&nbsp;&nbsp;<strong>Grading and Giving Feedback</strong><br />
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://teaching.unsw.edu.au/grading-assessment-feedback" target="_blank">https://teaching.unsw.edu.au/grading-assessment-feedback</a><br /><br />
      &nbsp;&nbsp;&nbsp;&nbsp;<strong>Giving Assessment Feedback</strong><br />
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://teaching.unsw.edu.au/assessment-feedback" target="_blank">http://teaching.unsw.edu.au/assessment-feedback</a>
      </p>
    </div>
    <div class="modal-footer" style="text-align: center;">        
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
  <style type="text/css" media="screen">
    div.modal form {
      margin-bottom: 0;
    }
  </style>

<% end %>

<script type="text/javascript">
  $("*[id*='assessmentAddButton']").each(function() {
    $(this).addClass('disabled');
    $(this).prop('disabled', true);
  });

  $("*[id*='assessmentDatesAddButton']").each(function() {
    $(this).addClass('disabled');
    $(this).prop('disabled', true);
  });
  
  $("*[id*='criteriaAddButton']").each(function(){
    $(this).addClass('disabled');
    $(this).prop('disabled', true);
  });

  $("*[id*='taskOutcomeAddButton'").each(function(){
    $(this).addClass('disabled');
    $(this).prop('disabled', true);
  });

  $("*[id*='taskResourcesAddButton'").each(function(){
    $(this).addClass('disabled');
    $(this).prop('disabled', true);
  });

  $("*[id*='taskProficiencyAddButton']").each(function(){
    $(this).addClass('disabled');
    $(this).prop('disabled', true);
  });
  
  
</script>