<h3>COURSE CONVENOR</h3>
<%= f.simple_fields_for :convenor do |convenor| %>
  <br />
  <div class="control-group <%= 'error' if convenor.object.errors[:member_name].any? %>">
    <label class="control-label required">Full name</label>
    <div class="controls">
      <%= convenor.object.member_fullname %>
    </div>
  </div>

  <br />
  <div class="control-group <%= 'error' if convenor.object.errors[:email].any? %>">
    <label class="control-label required">Email</label>
    <div class="controls">
      <%= convenor.object.email %>
    </div>
  </div>

  <br />
  <div class="control-group <%= 'error' if convenor.object.errors[:phone_number].any? %>">
    <label class="control-label required">Phone Number</label>
    <div class="controls">
      <%= convenor.input :phone_number, :label => false %>
    </div>
  </div>

  <br />
  <div class="control-group <%= 'error' if convenor.object.errors[:room].any? %>">
    <label class="control-label required">Room Number</label>
    <div class="controls">
      <%= convenor.input :room, :label => false %>
    </div>
  </div>    

  <br />
  <div class="control-group <%= 'error' if convenor.object.errors[:consultation_times].any? %>">
    <label class="control-label required">Consultation Times</label>
    <div class="controls">
      <%= convenor.input :consultation_times, :label => false, :input_html => { :class => 'span5' } %>
    </div>
  </div>
<% end %>

<br />
<h3>OTHER TEACHING STAFF</h3>
<div class="form-inputs">
  <%= render :partial => "courses/lecturers", :locals => { :f => f } %>
</div>