<% if @course.assessment.present? %>
	<b>Course specific expectations</b>
	<p><%= @course.assessment.present? ? @course.assessment.html_safe : '<i>undefined</i>'.html_safe %></p>
<% end %>

<b>RISK OF FAILURE WARNINGS</b>
<p><%= Parameter.find_by_name('risk of failure warnings').present? ? Parameter.find_by_name('risk of failure warnings').body.html_safe : '<i>undefined</i>'.html_safe %></p>

<b>LATE SUBMISSION PENALTIES</b>
<dl class="dl-horizontal">
	<b>Late Submission Allowed?</b>
	<%= @course.late_submission_allowed.nil? ? '<i>undefined</i>'.html_safe : yesno(@course.late_submission_allowed)  %>
</dl>

<% unless @course.late_submission_allowed.nil? %>
	<% if @course.late_submission_allowed == true %>
		<p><%= Parameter.find_by_name('late submission penalties').present? ? Parameter.find_by_name('late submission penalties').body.html_safe : '' %></p>
	<% else %>
		<p><%= Parameter.find_by_name('No Late Submission').present? ? Parameter.find_by_name('No Late Submission').body.html_safe : '' %></p>

	<% end %>
<% end %>

<b>Continual Course Improvement</b>
<p><%= Parameter.find_by_name('Continual Course Improvement').present? ? Parameter.find_by_name('Continual Course Improvement').body.html_safe : '' %></p>
<% if @course.course_improvements.present? %>
	<p>Over the past semesters, we have improved the course by:</p>
	<ul>
		<% @course.course_improvements.each do |i| %>
			<li><%= i.description %></li>
		<% end %>
	</ul>
<% end %>


