<!-- New Course Information
============================ -->

<div class="form-inputs">
  <div class="control-group <%= 'error' if f.object.errors[:code].any? %>">
    <label class="control-label required">Course Code</label>
    <div class="controls">
      <%= f.input :code, :label => false %>
    </div>
  </div>

   <br />
  <div class="control-group <%= 'error' if f.object.errors[:name].any? %>">
    <label class="control-label required">Course Name</label>
    <div class="controls">
      <%= f.input :name, :label => false, :input_html => { :class => 'span5' } %>
    </div>
  </div>

  <br />
  <div class="control-group  <%= 'error' if f.object.errors[:semester].any? %>">
    <label class ="control-label required" >Semester</label>
    <div class="controls">
      <%= f.input :semester_name, :label => false, :collection => Semester.all.map { |s| s.name_with_year } %>
    </div>
  </div>

  <br />
  <div class="control-group <%= 'error' if f.object.errors[:units_of_credit].any? %>">
    <label class="control-label required">Units of Credit</label>
    <div class="controls">
      <%= f.input :units_of_credit, :label => false, :collection => [6, 12, 18, 24], :default => 6 %>
    </div>
  </div>
  <br />
  <div class="control-group <%= 'error' if f.object.errors[:summary].any? %>">
    <label class="control-label required">Course Summary</label>
    <div class="controls">
      <%= f.text_area :summary, :label => false, :rows => 10, :class => 'span11' %>
      <p class="help-block"><small>This must be the exact course handbook entry approved in AIMS.</small></p>
    </div>
  </div>

  <hr>
  <h3>Course Convenor</h3>
  <br />
  <%= f.simple_fields_for :convenor do |convenor| %>
     <%= convenor.input :role, :as => :hidden, :input_html => { :value => "CONVENOR" } %>
    <div class="controls <%= 'error' if f.object.errors[:convenor].any? %>">
      <label class="control-label required">Convenor</label>
      <div class="controls">
        <%= convenor.input :member_name, :label => false, :url => autocomplete_user_fullname_members_path, :as => :autocomplete, :placeholder => "Type name, zid", :input_html => {:"data-update-elements" => "[]", :class => 'span5'} %>
      </div>
    </div>

  <% end %>

  <hr>

  <h3>Program Affiliation</h3>
  <br />

  <div class="controls <%= 'error' if f.object.errors[:program].any? %>">
    <label class="control-label required">This course is affiliated with the following program:</label>
    <div class="controls">
      <%= f.input :program_name, :label => false, :collection => Program.all.reject{ |s| !s.active }.map { |s| s.number_with_description } %>
    </div>
  </div>

</div>