<h3>Course Summary</h3>
<p><%= @course.summary.present? ? @course.summary.html_safe : '<i>undefined</i>'.html_safe %></p>

<dl class="dl-horizontal">
	<h3>PROGRAM AFFILIATION</h3><br />

	<dt>Affiliated Program</dt>
	<dd><%= @course.program.present? ? @course.program.try(:number_with_description) : '<i>undefined</i>'.html_safe %></dd>

	<dt>Program Director</dt>
	<dd><%= @course.program.director.present? ? @course.program.director.user.fullname : '<i>undefined</i>'.html_safe %></dd>
</dl>

<br />
<h3>Course Aims</h3>
<p><%= @course.course_aims.present? ? @course.course_aims.html_safe : '<i>undefined</i>'.html_safe %></p>

<br />
<h3>STUDENT LEARNING OUTCOMES</h3>
<p>On completion of this course, the student should be able to:</p>

<% if @course.course_learning_outcomes.present? %>
	<ol>
		<% @course.course_learning_outcomes.each do |outcome| %>
			<li><%= outcome.name.present? ? outcome.name.html_safe : '<i>undefined</i>'.html_safe %></li>
		<% end %>
	</ol>
<% else %>
	<p><i>undefined</i></p>
<% end %>
<dl class="dl-horizontal">
	<h3>TEACHING STRATEGIES AND APPROACH TO LEARNING</h3>
	<br />

	<% if @course.teaching_strategy.present?  %>
		<% if @course.teaching_strategy.lectures == true %>
			<dt>Lectures</dt>
			<dd><%= @course.teaching_strategy.lectures_description.present? ? @course.teaching_strategy.lectures_description.html_safe : '<i>undefined</i>'.html_safe %></dd>
		<% end %>

		<% if @course.teaching_strategy.seminars == true %>
			<dt>Seminars</dt>
			<dd><%= @course.teaching_strategy.seminars_description.present? ? @course.teaching_strategy.seminars_description.html_safe : '<i>undefined</i>'.html_safe %></dd>
		<% end %>

		<% if @course.teaching_strategy.tutorials == true %>
			<dt>Tutorials</dt>
			<dd><%= @course.teaching_strategy.tutorials_description.present? ? @course.teaching_strategy.tutorials_description.html_safe : '<i>undefined</i>'.html_safe %></dd>
		<% end %>

		<% if @course.teaching_strategy.studio == true %>
			<dt>Studio</dt>
			<dd><%= @course.teaching_strategy.studio_description.present? ? @course.teaching_strategy.studio_description.html_safe : '<i>undefined</i>'.html_safe %></dd>
		<% end %>

		<% if @course.teaching_strategy.blended_online == true %>
			<dt>Blended/online</dt>
			<dd><%= @course.teaching_strategy.blended_online_description.present? ? @course.teaching_strategy.blended_online_description.html_safe : '<i>undefined</i>'.html_safe %></dd>
		<% end %>

		<dt>Teaching Philosophy</dt>
		<dd><%= @course.teaching_strategy.teaching_philosophy.present? ? @course.teaching_strategy.teaching_philosophy.html_safe : '<i>undefined</i>'.html_safe %></dd>
	<% else %>
		<dt>&nbsp;</dt>
		<dd><i>undefined</i></dd>
	<% end %>
	
</dl>