<div class="view-items">
	<h3>Course Summary:</h3>
	<%= @course.summary.present? ? @course.summary.html_safe : '' %>
</div>

<div class="view-items">

	<div class="view-items">
		<b>PROGRAM AFFILIATION</b>
	</div>	

	<div class="view-items">
		<b>Affiliated Program: </b>
		<%= @course.program.present? ? @course.program.try(:number_with_description) : '' %>
	</div>

	<div class="view-items">
		<b>Program Director:</b>
		<%= @course.program.director.present? ? @course.program.director.user.fullname : '' %>
	</div>

</div>

<div class="view-items">
	<h3>Course Aims</h3>
	<p><%= @course.course_aims.present? ? @course.course_aims.html_safe : '' %></p>
</div>

<div class="view-items">
	<b>STUDENT LEARNING OUTCOMES</b>
	<p class="view-items">On completion of this course, the student should be able to:</p>

	<% if @course.course_learning_outcomes.present? %>
		<ol>
			<% @course.course_learning_outcomes.each do |outcome| %>
				<li><%= outcome.name.present? ? outcome.name.html_safe : '' %></li>
			<% end %>
		</ol>
	<% else %>
		<p><i>undefined</i></p>
	<% end %>
</div>

<b>TEACHING STRATEGIES AND APPROACH TO LEARNING</b>

<% if @course.teaching_strategy.present?  %>

	<% if @course.teaching_strategy.lectures == true %>	
		<div class="view-items">
			<b>Lectures:</b>
			<p><%= @course.teaching_strategy.lectures_description.present? ? @course.teaching_strategy.lectures_description.html_safe : '' %></p>
		</div>		
	<% end %>

	<% if @course.teaching_strategy.seminars == true %>
		<div class="view-items">
			<b>Seminars: </b>
			<p><%= @course.teaching_strategy.seminars_description.present? ? @course.teaching_strategy.seminars_description.html_safe : '' %></p>
		</div>
	<% end %>

	<% if @course.teaching_strategy.tutorials == true %>
		<div class="view-items">
		<b>Tutorials</b>
		<p><%= @course.teaching_strategy.tutorials_description.present? ? @course.teaching_strategy.tutorials_description.html_safe : '<i>undefined</i>'.html_safe %></p>
		</div>
	<% end %>

	<% if @course.teaching_strategy.studio == true %>
		<div class="view-items">
			<b>Studio</b>
			<p><%= @course.teaching_strategy.studio_description.present? ? @course.teaching_strategy.studio_description.html_safe : '<i>undefined</i>'.html_safe %></p>
		</div>
	<% end %>

	<% if @course.teaching_strategy.blended_online == true %>
		<div class="view-items">
			<b>Blended/online</b>
			<p><%= @course.teaching_strategy.blended_online_description.present? ? @course.teaching_strategy.blended_online_description.html_safe : '<i>undefined</i>'.html_safe %></p>
		</div>
	<% end %>
	</dl>

	<b>Teaching Philosophy</b>
	<p><%= @course.teaching_strategy.teaching_philosophy.present? ? @course.teaching_strategy.teaching_philosophy.html_safe : '<i>undefined</i>'.html_safe %></p>
<% else %>		
	<i>undefined</i>
<% end %>