<% if @course.convenor.present? %>

	<div class="view-items">
		<b>Course Convenor: </b>
		<%= @course.convenor.user.fullname.present? ? @course.convenor.user.fullname : ''.html_safe %>
	</div>

	<div class="view-items">
		<b>Email: </b>
		<%= @course.convenor.email.present? ? @course.convenor.email : ''.html_safe %>
	</div>

	<div class="view-items">
		<b>Phone: </b>
		<%= @course.convenor.phone_number.present? ? @course.convenor.phone_number : ''.html_safe %>
	</div>

	<div class="view-items">
		<b>Room: </b>
		<%= @course.convenor.room.present? ? @course.convenor.room : ''.html_safe %>
	</div>

	<div class="view-items">
		<b>Consultation times: </b>
		<%= @course.convenor.consultation_times.present? ? @course.convenor.consultation_times : ''.html_safe %>
	</div>
<% else %>
	&nbsp;
<% end %>

<% if @course.lecturers.present? %>
	<h3>Other Teaching Staff: </h3>			
	<% @course.lecturers.each do |stf| %>
		<div class="view-items">
			<b>Course Lecturer: </b>
			<%= stf.user.try(:fullname).present? ? stf.user.try(:fullname) : ''.html_safe %>
		</div>

		<div class="view-items">
			<b>Email:</b>
			<%= stf.user.try(:email).present? ? stf.user.try(:email) : ''.html_safe %>
		</div>

		<div class="view-items">	
			<b>Consultation times:</b>
			<%= stf.consultation_times.present? ? stf.consultation_times : ''.html_safe %>
		</div>
	<% end %>
<% end %>