<h2 style="text-align: center;">TOPICS AND DATES</h2>
<br />
<table class="table table-bordered table-condensed">
	<thead>
		<tr style="background-color: #D8D8D8;">
			<th style="text-align: center;">Week</th>
			<th style="text-align: center;">Date</th>
			<th style="text-align: center;">Topic Name</th>
			<th style="text-align: center;">Tasks Due</th>
		</tr>
	</thead>
	<tbody>
		<% @course.topics.each do |topic| %>
			<tr style="background-color: <%= topic.bgcolor %>;">
				<td style="text-align: center;"><%= topic.week.present? ? topic.week : '' %></td>
				<td style="text-align: center;"><%= topic.date.present? ? topic.date.strftime("%d %B") : '' %></td>
				<td><%= topic.topic_name.present? ? topic.topic_name : '' %></td>
				<td><%= topic.tasks_due.present? ? topic.tasks_due : '' %></td>		
			</tr>
		<% end %>
	</tbody>
</table>