<%- if Rails.env.production? %>
<%= tinymce :production %>
<% else %>
<%= tinymce %>
<% end %>

<!-- <%#= content_for(:breadcrumbs) do -%>
	<li><span class="divider">/</span><%#= link_to "Courses", courses_path %></li>
  <li><span class="divider">/</span><%#= @course.code.upcase %> - <%#= @course.name.titleize %></li>
<%# end -%> -->
<div class="row-fluid">
	<div class="span11">
		<header class="jumbotron subhead">
			<h1> <%= @course.code.upcase %> - <%= @course.name.titleize %></h1>
      <p class="lead">You are editting <%= @course.code.upcase %> - <%= @course.name.upcase %></p><br />
      <div class="subnav">
          <ul class="nav nav-pills">
            <li><a href="#course_information">Information</a></li>
            <li><a href="#staff">Staff</a></li>
            <li><a href="#overview">Course Overview</a></li>
            <li><a href="#expectations">Student Expectations</a></li>
            <li><a href="#assessments">Assessment</a></li>
            <li><a href="#topics">Topics and Dates</a></li>
            <li><a href="#resources">Resources for Students</a></li>
            <li><a href="#submission">Submission</a></li>
          </ul>
      </div>
		</header>

    <%= simple_nested_form_for @course, :html => { :class => 'form-horizontal' } do |f| %>

      <%= render :partial => 'shared/errors', :locals => { :f => f } %>

        <!-- Course Information
        ============================ -->

        <section id="course_information">
          <div class="page-header">
            <h1>COURSE INFORMATION</h1>
          </div>
          <%= render :partial => 'edit_information', :locals => { :f => f } %>          
        </section>


        <!-- Course Staff 
        ============================ -->

        <section id="staff">
          <div class="page-header">
            <h1>Course STAFF</h1>
          </div>
          <%= render :partial => 'edit_staff', :locals => { :f => f } %>          
        </section>


        <!-- Course Overview
        ============================ -->

        <section id="overview">
          <div class="page-header">
            <h1>COURSE OVERVIEW</h1>
          </div>
          <%= render :partial => 'edit_overview', :locals => { :f => f } %>
        </section>


        <!-- Expectations of Students 
        ============================= -->

        <section id="expectations">          
          <div class="page-header">
            <h1>EXPECTATIONS OF STUDENTS IN THIS COURSE</h1>
          </div>
          <%= render :partial => 'edit_expectations', :locals => { :f => f } %>
        </section>

        <!-- Assessment
        ============================= -->

        <section id="assessments">          
          <div class="page-header">
            <h1>ASSESSMENT</h1>
          </div>
          <%= render :partial => "edit_assessments", :locals => { :f => f } %>
        </section>


        <!-- Topics and Dates 
        ============================= -->

        <section id="topics">          
          <div class="page-header">
            <h1>TOPICS AND DATES</h1>
          </div>
          <%= render :partial => "edit_topics", :locals => { :f => f } %>
        </section>


        <!-- Resources of Students 
        ============================= -->

        <section id="resources">          
          <div class="page-header">
            <h1>RESOURCES FOR STUDENTS</h1>
          </div>
          <%= render :partial => "edit_resources", :locals => { :f => f } %>
        </section>


        <!-- Submission
        ============================= -->

        <section id="submission">
      			<div class="page-header">
            <h1>SUBMISSION</h1>
          </div>
          <%= render :partial => "submission", :locals => { :f => f } %>
        </section>


  		<% end %>

	</div>
</div>

<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
  $('#CourseAimPopOver').popover();
  $('#TeachingPhilisophyPopOver').popover();
  $('#OutcomesPopOver').popover();
  $('#CriteriaPopOver').popover();
  $('#FeedbackPopOver').popover();

  if($("select#course_teaching_strategy_attributes_lectures").val() == "true") {
    $("#strategy_lectures").show();
  } else {
    $("#strategy_lectures").hide();
  }

  if($("select#course_teaching_strategy_attributes_seminars").val() == "true") {
    $("#strategy_seminars").show();
  } else {
    $("#strategy_seminars").hide();
  }

  if($("select#course_teaching_strategy_attributes_tutorials").val() == "true") {
    $("#strategy_tutorials").show();
  } else {
    $("#strategy_tutorials").hide();
  }

  if($("select#course_teaching_strategy_attributes_studio").val() == "true") {
    $("#strategy_studio").show();
  } else {
    $("#strategy_studio").hide();
  }

  if($("select#course_teaching_strategy_attributes_blended_online").val() == "true") {
    $("#strategy_blended_online").show();
  } else {
    $("#strategy_blended_online").hide();
  }

$("select#course_teaching_strategy_attributes_lectures").change(function() {
  var thisCheck = $(this);
  if (thisCheck.val() == 'true') {
    $("#strategy_lectures").show();
  } else {
    $("#strategy_lectures").hide();
  };
});

$("select#course_teaching_strategy_attributes_seminars").change(function() {
  var thisCheck = $(this);
  if (thisCheck.val() == 'true') {
    $("#strategy_seminars").show();
  } else {
    $("#strategy_seminars").hide();
  };
});

$("select#course_teaching_strategy_attributes_tutorials").change(function() {
  var thisCheck = $(this);
  if (thisCheck.val() == 'true') {
    $("#strategy_tutorials").show();
  } else {
    $("#strategy_tutorials").hide();
  };
});

$("select#course_teaching_strategy_attributes_studio").change(function() {
  var thisCheck = $(this);
  if (thisCheck.val() == 'true') {
    $("#strategy_studio").show();
  } else {
    $("#strategy_studio").hide();
  };
});

$("select#course_teaching_strategy_attributes_blended_online").change(function() {
  var thisCheck = $(this);
  if (thisCheck.val() == 'true') {
    $("#strategy_blended_online").show();
  } else {
    $("#strategy_blended_online").hide();
  };
});

});

$(document).scroll(function(){
    // If has not activated (has no attribute "data-top"
    if (!$('.subnav').attr('data-top')) {
        // If already fixed, then do nothing
        if ($('.subnav').hasClass('subnav-fixed')) return;
        // Remember top position
        var offset = $('.subnav').offset()
        $('.subnav').attr('data-top', offset.top);
    }

    if ($('.subnav').attr('data-top') - $('.subnav').outerHeight() <= $(this).scrollTop())
        $('.subnav').addClass('subnav-fixed');
    else
        $('.subnav').removeClass('subnav-fixed');
});

// Read a page's GET URL variables and return them as an associative array.
function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

</script>

