<%= content_for(:breadcrumbs) do -%>
    <li><span class="divider">/</span><%= link_to "Courses", courses_path %></li>
<% end -%>
<% modal_class = Course %>
<div class="page-header">
    
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <% if current_user.admins? %>
                <%= link_to icon('folder-open', 'New Course'), new_course_path, :class => 'btn' %>
            <% end %>            
        </div>
        <div class="btn-group">
            <% if current_user.admins? %>
                <button class="btn btn-primary" type="button" onclick="downloadAll()">Download All PDF</button>
            <% end %>            
        </div>
    </div>
    <h1>Courses</h1>
</div>

<% if @courses.present? -%>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Semester</th>
                <th>Convenor</th>
                <th>Last Updated At</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.code, course_path(course, :category => params[:category]) %></td>
            <td><%= course.name %></td>
            <td><%= course.semester_name %></td>
            <td><%= course.convenor.user.fullname %></td>
            <td><%= course.updated_at.localtime.strftime("%Y-%m-%d %H:%M") %></td>
            <td style="color: <%= text_color(course.status) %>"><%= course.status %></td>
            <td>
                <%#= link_to 'View', course_path(course, :category => params[:category]), :class => 'btn btn-mini' %>
                <% if (current_user.admins? || current_user.convenor?(course) || current_user.program_director?(course)) %>
                    <%= link_to 'Edit', edit_course_path(course, :category => params[:category]), :class => 'btn btn-mini btn-success' %>
                <% end %>

                <%= link_to_if course.status == "APPROVED", 'Download (pdf)', course_path(course, :category => params[:category], :format => "pdf"), :class => 'btn btn-mini btn-success' %>
                <% if current_user.superadmin? %>
                    <%= link_to 'Delete', course_path(course, :category => params[:category]), :confirm => "Are you sure? ", :class => 'btn btn-mini btn-danger', :method => :delete %>
                <% end %>
            </td>            
          </tr>
        <% end %>
    </table>
<% else %>
  <p>No courses in this listing.</p>
<% end -%>

<%#=  will_paginate @courses %>

<script type="text/javascript" charset="utf-8">

var downloadURL = function downloadURL(url) {
    
        iframe = document.createElement('iframe');
        iframe.style.display = 'none';
        document.body.appendChild(iframe);
    
    iframe.src = url;
};

var urls = [];
<%- @approved_courses.each do |course| %>
urls.push('<%= course_path(course, :format => :pdf) %>');
<% end %>
var downloadAll = function() {

$.each(urls, function(index, url) {
setTimeout(function() {downloadURL(url)}, index * 1000);
});
};


</script>