<%= content_for(:breadcrumbs) do -%>
    <li><span class="divider">/</span><%= link_to "Courses", courses_path %></li>
<% end -%>
<% modal_class = Course %>
<div class="page-header">
    
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <%= link_to icon('folder-open', 'New Course'), new_course_path, :class => 'btn' %>
        </div>
    </div>
    <h1>Courses</h1>
</div>

<% if @courses.present? -%>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Semester</th>
                <th>Convenor</th>
                <th>Last Updated At</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.code, course_path(course, :category => params[:category]) %></td>
            <td><%= course.name %></td>
            <td><%= course.semester_name %></td>
            <td><%= course.convenor.user.fullname %></td>
            <td><%= course.updated_at.localtime.strftime("%Y-%m-%d %H:%M") %></td>
            <td style="color: <%= text_color(course.status) %>"><%= course.status %></td>
            <td>
                <%#= link_to 'View', course_path(course, :category => params[:category]), :class => 'btn btn-mini' %>
                <%= link_to 'Edit', edit_course_path(course, :category => params[:category]), :class => 'btn btn-mini btn-success' %>
                <%= link_to_if course.status == "APPROVED", 'Download (pdf)', course_path(course, :category => params[:category], :format => "pdf"), :class => 'btn btn-mini btn-success' %>
                <%= link_to 'Delete', course_path(course, :category => params[:category]), :confirm => "Are you sure? ", :class => 'btn btn-mini btn-danger', :method => :delete %>
            </td>            
          </tr>
        <% end %>
    </table>
<% else %>
  <p>No courses in this listing.</p>
<% end -%>

<%#=  will_paginate @courses %>