<%= content_for(:breadcrumbs) do -%>
	<li><span class="divider">/</span><%= link_to "Courses", courses_path %></li>
    <li><span class="divider">/</span>New Course</li>
<% end -%>

<% modal_class = Course %>
<div class="page-header">
	<h1>New Course</h1>
</div>

<%= simple_form_for @course do |f| %>

	<%= render :partial => 'shared/errors', :locals => { :f => f } %>

	<%= render :partial => 'courses/new_form', :locals => { :f => f } %>
	<br />
	<div class="form-actions" style="text-align: center;">
	    <%= f.submit "Create Course", :class => 'btn btn-primary', :name => "status", :value => "SAVE" %>
	    <%= link_to "Cancel", courses_path, :class => 'btn' %>
	</div>
<% end %>