<!--<%#= content_for(:breadcrumbs) do -%>
  <li><span class="divider">/</span><%#= link_to "Courses", courses_path %></li>
  <li><span class="divider">/</span><%#= @course.code %> - <%#= @course.name %></li>
<%# end -%>  -->

<div class="row-fluid">
	<div class="span11">
		<header class="jumbotron subhead">
			<div class="btn-toolbar pull-right">
		        <div class="btn-group">
		            <% if current_user.admin? || current_user.convenor_or_director?(@course) %>
		            	<%= link_to 'Edit', edit_course_path(@course, :category => params[:category]), :class => 'btn' %>
		            <% end %>
		        </div>
		    </div>
			<h1><%= @course.code.upcase %> - <%= @course.name.upcase %></h1>
			<p class="lead">You are viewing <%= @course.code.upcase %> - <%= @course.name.upcase %></p><br />
			<div class="subnav">
			    <ul class="nav nav-pills">
			      <li><a href="#course_information">Information</a></li>
			      <li><a href="#staff">Staff</a></li>
			      <li><a href="#overview">Course Overview</a></li>
			      <li><a href="#expectations">Student Expectations</a></li>
			      <li><a href="#assessments">Assessment</a></li>
			      <li><a href="#topics">Topics and Dates</a></li>
			      <li><a href="#resources">Resources for Students</a></li>
			    </ul>
			</div>
		</header>
		
		<section id="course_information">
			<div class="page-header" style="text-align: center;">
				<h1>COURSE INFORMATION</h1>
			</div>
			<dl class="dl-horizontal">	
				<dt>Course Code</dt>
				<dd><%= @course.code.present? ? @course.code : '<i>undefined</i>'.html_safe %></dd>

				<dt>Course Name</dt>
				<dd><%= @course.name.present? ? @course.name : '<i>undefined</i>'.html_safe %></dd>

				<dt>Semester</dt>
				<dd><%= @course.semester_id.present? ? Semester.find(@course.semester_id).try(:name) + ', ' + Semester.find(@course.semester_id).try(:year) : '<i>undefined</i>'.html_safe %></dd>
			</dl>
			<p><%= Parameter.find_by_name('General Information').present? ? Parameter.find_by_name('General Information').body.html_safe : '' %></p>
			
			<%= render :partial => 'information'%>
		</section>

		<section id="staff">
			<div class="page-header" style="text-align: center;">
				<h1>COURSE STAFF</h1>
			</div>
			<%= render :partial => 'staff'%>
		</section>

		<section id="overview">
			<div class="page-header" style="text-align: center;">
				<h1>COURSE OVERVIEW</h1>
			</div>
			<%= render :partial => 'overview'%>
		</section>

		<section id="expectations">
			<div class="page-header" style="text-align: center;">
				<h1>EXPECTATIONS OF STUDENTS IN THIS COURSE</h1>
			</div>
			<%= render :partial => 'expectations'%>
		</section>

		<section id="assessments">
			<div class="page-header" style="text-align: center;">
				<h1>ASSESSMENT</h1>
			</div>
			<%= render :partial => 'assessments'%>
		</section>

		<section id="topics">
			<div class="page-header" style="text-align: center;">
				<h1>TOPICS AND DATES</h1>
			</div>
			<%= render :partial => 'topics'%>
		</section>

		<section id="resources">
			<div class="page-header" style="text-align: center;">
				<h1>RESOURCES FOR STUDENTS</h1>
			</div>
			<%= render :partial => 'resources'%>
		</section>

	</div>
</div>
<script type="text/javascript">
$(document).scroll(function(){
    // If has not activated (has no attribute "data-top"
    if (!$('.subnav').attr('data-top')) {
        // If already fixed, then do nothing
        if ($('.subnav').hasClass('subnav-fixed')) return;
        // Remember top position
        var offset = $('.subnav').offset()
        $('.subnav').attr('data-top', offset.top);
    }

    if ($('.subnav').attr('data-top') - $('.subnav').outerHeight() <= $(this).scrollTop())
        $('.subnav').addClass('subnav-fixed');
    else
        $('.subnav').removeClass('subnav-fixed');
});
</script>
