<div class="logo">
  <img src="<%=Rails.root%>/app/assets/images/Faculty_Landscape_Col_pos_COFA_artdesign.png" alt='cover page' width="775" height='auto' />
</div>
<div class="row-fluid">
    <section id="course_information">
      <div class="">
        <h1><%= @course.code.upcase %></h1>
        <h1><%= @course.name %></h1>
      </div>
    </section>

    <div class="">
      <h3>SEMESTER <%= @course.semester_id.present? ? Semester.find(@course.semester_id).try(:name) + ', ' + Semester.find(@course.semester_id).try(:year) : '<i>undefined</i>'.html_safe %></h3>
      <p>
        Students are advised to read this Course Outline in conjunction with the <b>General Student Information</b> guide, which provides essential information for all students and is available under 'Students' on Art & Design website <a href="http://artdesign.unsw.edu.au">artdesign.unsw.edu.au</a>
      </p>
    </div>

    <section id="course_information">
      <h2>COURSE INFORMATION</h2>
      <%= render :partial => 'information.html.erb'%>
    </section>

    <section id="staff">
      <div class="">
        <h2>COURSE STAFF</h2>
      </div>
      <%= render :partial => 'staff.html.erb'%>
    </section>

    <section id="overview">
      <div class="page-break"></div>
      <div class="">
        <h2>COURSE OVERVIEW</h2>
      </div>
      <%= render :partial => 'overview.html.erb'%>
    </section>

    <section id="expectations">
      <div class="page-break"></div>
      <div class="">
        <h2>EXPECTATIONS OF STUDENTS IN THIS COURSE</h2>
      </div>
      <%= render :partial => 'expectations.html.erb'%>
    </section>

    <section id="assessments">
      <div class="page-break"></div>
      <div class="">
        <h2>ASSESSMENT</h2>
      </div>
      <%= render :partial => 'assessments.html.erb'%>
    </section>

    <section id="topics">
      <div class="page-break"></div>
      <div class="">
        <h2>TOPICS AND DATES</h2>
      </div>
      <%= render :partial => 'topics.html.erb'%>
    </section>

    <section id="resources">
      <div class="page-break"></div>
      <div class="">
        <h2>RESOURCES FOR STUDENTS</h2>
      </div>
      <%= render :partial => 'resources.html.erb'%>
    </section>

  </div>
</div>
