<style type="text/css" media="screen">
  li > ul {
    list-style: none;
    margin-left: 10px;
  }
</style>

<ul class="nav nav-list">
  <li class="nav-header">MY Lists</li>
  <li class="<%= 'active' if controller_name == 'courses' && params[:category] == 'convenor' %> "><%= link_to icon("book","My Convenor Courses"), courses_path(:category => 'convenor') %></li>
  <li class="<%= 'active' if controller_name == 'courses' && params[:category] == 'program' %> "><%= link_to icon("book","My Program Courses"), courses_path(:category => 'program') %></li>  
  <li class="divider"></li>  
  <li class="nav-header">Browse</li>
  <li class="<%= 'active' if controller_name == 'courses' && params[:category].blank? %> "><%= link_to icon("book","All Courses"), courses_path %></li> 
  <li class="<%= 'active' if controller_name == 'semesters' %>"><%= link_to icon("calendar", "Semesters"), semesters_path %></li>
  <li class="<%= 'active' if controller_name == 'programs' %>"><%= link_to icon("book", "Programs"), programs_path %></li>
  <li class="<%= 'active' if controller_name == 'users' %>"><%= link_to icon("user", "Staff"), users_path %></li>
  <li class="<%= 'active' if controller_name == 'parameters' %>"><%= link_to icon("wrench", "Parameters"), parameters_path %></li>
</ul>