<tr id="member_<%= member.id %>">
  <td><%= member.member_fullname %></td>
  <td><%= member.member_zid %></td>  
  <td><%= member.member_email %></td>
  <td class="remove"><%= link_to icon('trash'), '#', :class => 'btn delete btn-mini' %></td>
</tr>