<%- if Rails.env.production? %>
<script type="text/javascript">
	tinyMCE.baseURL = "http://my.cofa.unsw.edu.au/course-outline/assets/tinymce/"
</script>
<%= tinymce :production %>
<% else %>
<script type="text/javascript">
	tinyMCE.baseURL = "http://localhost:3000/assets/tinymce/"
</script>
<%= tinymce %>
<% end %>

<%= f.error_notification %>

<div class="form-inputs">
	<%= f.input :name %>
	<%= f.input :body, :input_html => { :class => 'span11 tinymce' } %>
</div>

